.page-link {
    color: #000;
    font-weight: bold;
}

.page-item.active .page-link {
    background: #333;
    border-color: #333;
    color: #fff;
}

@media screen and (min-width: 992px) {
    body {
        overflow: auto !important;
    }
    
    main {
        margin-left: $offcanvas-width;
    }

    .offcanvas-backdrop::before {
        display: none;
    }

    .navbar .btn-navbar {
        display: none;
    }
}

